<!DOCTYPE html>
<html>
  <head>
    <!-- 
          Taking idea from steve's file
     -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Steve's Bookstore</title>
    <!-- using bulma framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- CSS styling -->
    <style type="text/css">
      .modal-content{
        background-color: #fff;
        color: #000;
        border-radius: 8px;
        min-height: 20px;
        padding: 10px 20px;
        margin-top: 100px;
        box-shadow: 0 0.5em 1em -0.125em rgba(255,255,255,0.5);
      }
      .title{
        color: hsl(348, 100%, 61%);
        margin-bottom: 100px; 
      }
      .subtitle{
        color: hsl(141, 71%, 48%);
      }
      .container{
        max-width: 960px;
        margin-top: 30px;
      }
      th{
        background: #cfcfcf;
      }
      a{
        color: #000;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="main">
        <h1 class="title">{{mainTitle}}</h1>
        <h2 class="subtitle">{{title}}</h2>
        <div id="booklist">
          <button @click="displayAllBooks();" 
                  class="button is-link" 
                  style="margin-bottom: 20px">Back
          </button>
          <!-- table to dosplay book list of bookstore -->
          <table class="table is-striped is-bordered is-fullwidth">
            <tr class="list">
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Publisher</th>
              <th>Genre</th>
              <th>Format</th>
            </tr>
            <tr class="list" v-for="book in books" >
              <td><!-- click event to open modal by cover image-->
                <a @click="bookDetail(book.book_id); return showModel = true;" href="#">
                  <figure class="image is-2by3" >
                    <img v-bind:src="'images/covers/'+book.image" />
                  </figure>
                </a>
              </td>
              <td><!-- click event to open modal according to title -->
                <a @click="bookDetail(book.book_id); return showModel = true;" href="#">
                {{book.title}}</a>
              </td>
              <td><!-- click event to show books according to author -->
                <a @click="showAuthor(book.author_id);" href="#">{{book.author}}</a>
              </td>
              <td><!-- click event to show books according to publisher -->
                <a @click="showPublisher(book.publisher_id);" href="#">{{book.publisher}}</a>
              </td>
              <td><!-- click event to show books according to genre -->
                <a @click="showGenre(book.genre_id);" href="#">{{book.genre}}</a>
              </td>
              <td><!-- click event to show books according to format -->
                <a @click="showFormat(book.format_id);" href="#">{{book.format}}</a>
              </td>
            </tr>
          </table>
        </div><!-- end of booklist div -->
        <div id="detail">
          <!-- modal to show detail of specific book -->
          <div class="modal" v-bind:class="{'is-active':showModel}">
            <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-128x128">
                      <img v-bind:src="'images/covers/'+book.image">
                      </figure>
                    </div>  <!-- end of media-left div -->
                    <div class="media-content">
                    <h2 class="subtitle">{{book.title}}</h2>
                    <table>
                      <tr>
                        <td><strong>Author: </strong>{{book.author}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Publisher: </strong>{{book.publisher}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Genre: </strong>{{book.genre}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Price: </strong>{{book.price}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Pages: </strong>{{book.num_pages}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Year:</strong> {{book.year_published}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>In-Print: </strong><spna v-if="(book.in_print == 1)">Yes</span>
                          <span v-else>No</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><strong>Description: </strong><span v-html="book.description"></span></td>
                        <td></td>
                      </tr>
                    </table>
                  </div> 
                </article>        
              </div><!-- end of box div -->
            </div><!-- end of model-content div -->
            <button class="modal-close is-large" aria-label="close" @click="showModel=false"></button>
          </div><!-- end of modal div -->
        </div><!-- end of detail div -->
      </div><!-- end of man div div -->
      
    </div><!-- end of container div -->
  
  <!-- cdn for vue -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <!-- cdn for axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <!-- starting scripting -->
  <script type="text/javascript">
     // starting of Vue
      var app = new Vue({
        el: '#main',
        data: {
           mainTitle: "Welcome to Steve's Bookstore",
           title: 'List of Books',
           books: [],
           book: [],
           showModel: false
        },
        created: function(){
          this.displayAllBooks();
        },
        methods: {
          //function to display all books
          displayAllBooks: function(){
            // creating http request
            var xhr = new XMLHttpRequest;
            xhr.responseType = 'json';
            //open the file
            xhr.open('GET','server.php');
            xhr.onreadystatechange = function(){
              // check for readystate and status
              if(xhr.readyState == 4 && xhr.status == 200){
                app.books = (xhr.response);
              }
            } 
            xhr.send(null);
          },
          //function to display book detail
          bookDetail: function(id){
            //getting the book_id            
            var book_id = id;
            // file url 
            var url = 'server.php?book_id=' + book_id;
            fetch(url)
              .then(function(response){
                if(response.status!==200){
                  throw new Error("not get 200");
                }else{
                  return response.json();
                }
              })
              .then(function(data){
                //console.log(data);
                //return data;
                app.book = data;
              })
              .catch(function(error){
                console.log(error);
              });
          },
          //display according to author
          showAuthor: function(author){
            //getting the author id          
            var author_id = author;
            // console.log(author_id);
            // file url 
            var url = 'server.php?author_id=' + author_id;
            fetch(url)
              //getting response
              .then(function(response){
                if(response.status!==200){
                  throw new Error("not get 200");
                }else{
                  return response.json();
                }
              })
              // getting data 
              .then(function(data){
                //console.log(data);
                //return data;
                app.books = data;
                app.title = "List of Books by Author";
              })
              //catching error
              .catch(function(error){
                console.log(error);
              });
          },
          //display according to genre
          showGenre: function(genre){
            //getting the genre id           
            var genre_id = genre;
            //console.log(genre_id);
            // file url 
            var url = 'server.php?genre_id=' + genre_id;
            fetch(url)
              //getting response
              .then(function(response){
                if(response.status!==200){
                  throw new Error("not get 200");
                }else{
                  return response.json();
                }
              })
              //catching error
              .then(function(data){
                //console.log(data);
                //return data;
                app.books = data;
                app.title = "List of Books by Genre";
              })
              //catching error
              .catch(function(error){
                console.log(error);
              });
          },
          //display according to publisher
          showPublisher: function(publisher){
            //getting the publisher id           
            var publisher_id = publisher;
            //console.log(publisher_id);
            // file url 
            var url = 'server.php?publisher_id=' + publisher_id;
            fetch(url)
              //getting response
              .then(function(response){
                if(response.status!==200){
                  throw new Error("not get 200");
                }else{
                  return response.json();
                }
              })
              //catching error
              .then(function(data){
                //console.log(data);
                //return data;
                app.books = data;
                app.title = "List of Books by Publisher";
              })
              //catching error
              .catch(function(error){
                console.log(error);
              });
          },
          //display according to format
          showFormat: function(format){
            //getting the format id          
            var format_id = format;
            //console.log(format_id);
            // file url 
            var url = 'server.php?format_id=' + format_id;
            fetch(url)
              //getting response
              .then(function(response){
                if(response.status!==200){
                  throw new Error("not get 200");
                }else{
                  return response.json();
                }
              })
              //catching error
              .then(function(data){
                //console.log(data);
                //return data;
                app.books = data;
                app.title = "List of Books by Format";
              })
              //catching error
              .catch(function(error){
                console.log(error);
              });
          }
        }
      });
  </script> 
  </body>
</html>